#scheduleTableDiv {
	height: 65%;
	overflow-y: auto;
}

#scheduleTable {
	width: 100%;
	height: 200%;
}

#scheduleTable tr {
	min-height: 2.5em;
}

#scheduleTable tr:first-child {
	background-color:#ffffff;
}

#scheduleTable tr:first-child > td {
	background-color:#ffffff;
	text-align: center;
	font-size: 14px;
}

#scheduleTable td {
	text-align: left;
	border: 2px solid #ffffff;
	padding: 0px;
	width: 15%;
    background-color: #ddd;
    text-align: left;
    font-size: 12px;
}

#scheduleTable td:first-child, #scheduleTable td:first-child:hover {
	width: 2%;
	background-color: #ffffff;
}

#scheduleTable td:hover {
    background-color: #ccc;
}

#scheduleTable td.highlighted {
    background-color: #86C472;
    border: 2px solid #86C472;
}

#scheduleTable td.event {
    background-color: #C7E8BC;
    border: 2px solid #C7E8BC;
}