#scheduleTableDiv {
	height: 65%;
	overflow-y: auto;
}

#scheduleTable {
	width: 100%;
	height: 99%;
}

#scheduleTable tr {
	min-height: 2.5em;
}

#scheduleTable tr:first-child {
	background-color:#ffffff;
}

#scheduleTable tr:first-child > td {
	background-color:#ffffff;
	text-align: center;
	font-size: 14px;
}

#scheduleTable td {
	text-align: left;
	border: 2px solid #ffffff;
	padding: 0px;
	width: 15%;
    background-color: #ddd;
    text-align: left;
    font-size: 12px;
}

#scheduleTable td:first-child, #scheduleTable td:first-child:hover {
	width: 2%;
	background-color: #ffffff;
}

#scheduleTable td:hover {
    background-color: #ccc;
}

#scheduleTable td.highlightedFirstCell {
	background-color: #86C472;
	border: 2px solid #86C472;
	color: white;
    padding: 0 10px;
    font-size: 15px;
}

#scheduleTable td.highlighted {
    background-color: #86C472;
    border: 2px solid #86C472;
}

#scheduleTable td.highlightedFirstCell a {
	color: #A94442;
    text-decoration: none;
    font-weight: bold;
}

#scheduleTable td.highlightedFirstCell a:hover{
    text-decoration: none;
}