#scheduleTable {
	width: 100%;
}

#scheduleTable tr {
	height: 2em;
}

#scheduleTable tr:first-child {
	background-color:#ffffff;
}

#scheduleTable tr:first-child > td {
	background-color:#ffffff;
	text-align: center;
	font-size: 14px;
}

#scheduleTable td {
	border: 2px solid #ffffff;
	padding: 0px;
	width: 15%;
    background-color: #ddd;
    text-align: right;
    font-size: 12px;
}

#scheduleTable td:first-child, #scheduleTable td:first-child:hover {
	width: 2%;
	background-color: #ffffff;
}

#scheduleTable td:hover {
    background-color: #ccc;
}

#scheduleTable td.highlighted {
    background-color: #97E05E;
}